body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/** ============== HEADER ==================== */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-color {
  color: var(--IRIS, #2e2f42);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 40px;
  position: relative;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}
.header-menu-item {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-menu-item:first-child .header-menu-link {
  color: #404bbf;
}

.header-menu-item:first-child .header-menu-link::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  bottom: -1px;
  left: 0;
}

.header-address {
  display: flex;
  margin-left: auto;
  font-style: normal;
}

.header-menu-link {
  position: relative;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:active,
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-list-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** =============================================== */

/** ============== ORDER ========================== */

.order {
  padding-bottom: 120px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order-container {
  background-color: var(--NAVY-BLUE, #2e2f42);
  padding: 188px 0;
}

.order-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.order-btn {
  display: block;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--IRIS, #4d5ae5);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--OCEAN, #404bbf);
}

/** =============================================== */

/** ============== DESCTIPTION ===================== */

.desc {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.desc-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.desc-list-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.desc-list-wrap {
  padding: 24px 100px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc-list-icon {
  align-items: center;
  justify-content: center;
}

.portfolio-img {
}

.desc-list-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  align-items: center;
  font-weight: 700;
  line-height: 1.1; /* 111.111% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.desc-list-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/** ================================================ */

/** ============== TEAM ============================ */

.team {
  background-color: #f4f4fd;
  padding: 96px 0px;
}
.name-position {
  padding: 32px 16px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
  padding: 0 12px;
  background: var(--WHITE, #fff);
}
.team-img {
  margin: 0 auto;
}
.team-list-item {
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  justify-content: center;
  align-items: center;
}
.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-list-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.social-networks {
  width: 40px;
  height: 40px;
}
.name-soc {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.name-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-soc-link:hover,
.name-soc-link:focus {
  background-color: #404bbf;
}
.name-soc-icon {
  fill: #f4f4fd;
  align-items: center;
  justify-content: center;
}

/** =============================================== */

/** ============== PORTFOLIO ====================== */

.portfolio {
  padding: 96px 0px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-list-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  height: 100%;
  background: var(--IRIS, #4d5ae5);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.category-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list-text {
  color: var(--SLATE, #434455);
  text-align: start;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ============================================== */

/** ============== FOOTER ======================== */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  max-width: 1440px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 96px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer-logo-text {
  margin-bottom: 72px;
  text-align: center;
}
.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  transition: 250ms;
}
.footer-logo-color {
  color: var(--IRIS, #f4f4fd);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--IRIS, #4d5ae5);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-soc {
  margin-right: 80px;
}

.footer-soc-text {
  color: var(--WHITE, #ffffff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer-social-networks {
  display: flex;
  gap: 16px;
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--GREEN, #31d0aa);
}
.footer-soc-icon {
  fill: #f4f4fd;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.footer-form-title {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  background-color: transparent;
  border: none;
  margin-bottom: 16px;
}
.footer-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  outline: transparent;
  padding-left: 16px;
  color: #ffffff;
  margin-right: 24px;
}
.footer-form-input::placeholder {
  color: var(--WHITE, #fff);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-form-btn {
  display: flex;
  color: var(--WHITE, #fff);
  min-width: 165px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 4px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-wrap: nowrap;
}
.footer-form-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/** =============================================== */

/** =============== Dropbox ======================= */

.backdrop {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--DAIRY, #fcfcfc);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  display: flex;
  background-color: #e7e9fc;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border-width: 1px;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn .modal-btn-icon {
  fill: #2f2e42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon {
  fill: #ffffff;
}

.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  outline: transparent;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.input-wrap {
  position: relative;
}

.modal-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 8px;
}
.modal-field-textarea {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  resize: none;
  padding: 8px 16px;
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-textarea::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-check-container {
  margin-bottom: 24px;
}
.check-text {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}
.check-link {
  color: var(--IRIS, #4d5ae5);
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.check-text-box {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text .check-text-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-left: 95px;
  margin-right: 96px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** =============================================== */

/** =============== Media ========================= */

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

/** =============== Media-Tablet ================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .desc-list {
    gap: 72px 24px;
  }

  .desc-list-item {
    width: calc((100% - 24px) / 2);
    justify-content: left;
  }
  .desc-list-subtitle {
    text-align: left;
  }
  .team-list {
    gap: 64px 24px;
    padding: 0 92px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/** =============================================== */

/** =============== Media-Desktop ================== */

@media screen and (max-width: 1157px) {
  .desc-list-wrap {
    display: none;
  }
  .portfolio-list-item:hover .portfolio-cover-text {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .desc {
    padding: 120px 0;
  }
  .desc-list-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
  }
  .desc-list-text {
    font-weight: 400;
  }
  .desc-list {
    gap: 8px 24px;
  }
  .desc-list-item {
    width: calc((100% - 72px) / 4);
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    padding: 0;
    gap: 0 24px;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}
/** =============================================== */
